* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-wrapper {
  background-color: #F1F5FF;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card h2 {
  font-size: 20px;
  color: #000000;
}

.card h3 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.field {
  background-color: rgba(194, 205, 231, 0.2);
  height: 56px;
  padding: 0 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s;
}

.field:hover {
  background-color: #e8eef9;
}

.field > div {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.value {
  font-size: 14px;
  color: #000000;
}

.field input {
  font: inherit;
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
}

.div-arrow{
  padding: 10px 12px;
  background: #f4f7ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px rgba(0,0,0,0.05);
  transition: background 0.2s;
}

.div-arrow:hover {
  background: #D0DAF4;
}

.arrow-icon-ac {
  width: 6px;
  height: 11px;
}

/* მოდალი */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  border-radius: 12px;
  width: 500px;
  padding: 24px;
}

.h2-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 24px;
}

.modal h2 {
  font-size: 20px;
}

.close-button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  background-color: rgba(222, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close-button:hover{
  background-color: rgba(222, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 15px;
  color: #000000;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #F5F5F5;
  font-size: 14px;
  margin-top: 10px;
}

.submit-button {
  margin-top: 16px;
  width: 100%;
  background-color: #0078B7;
  color: white;
  font-weight: 600;
  font-size: 14px;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-button:hover {
  background-color: #005bb5;
}

.error {
  display: none;
  background-color: #fde8e8;
  padding: 6px 10px;
  color: #de0000;
  font-size: 13px;
  margin-top: 6px;
  border-radius: 6px;
}

.img-error{
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

button#submitBtn, button#emailSubmit, button#phoneSubmit {
  margin-top: 16px;
  width: 100%;
  background-color: #0078B7;
  color: white;
  font-weight: 600;
  font-size: 14px;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
  display: none;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}