* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-wrapper {
  display: flex;
  justify-content: center;
  padding: 50px;

}

.div-site {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.site-card {
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.site-card h2 {
  font-size: 24px;
  color: #000000;
}

.site-card h3 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.site-field {
  background-color: rgba(194, 205, 231, 0.2);
  height: 56px;
  padding: 0 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s;
  cursor: pointer;
}

.site-field:hover {
  background-color: #e8eef9;
}

.site-field > div {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.site-value {
  font-size: 14px;
  color: #000000;
}

.field input {
  font: inherit;
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
}

.arrow-icon {
  width: 6px;
  height: 12px;
}

.div-h2-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-site-btn {
  background-color: #0078B7;
  border: none;
  padding: 9px 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.p-new-site{
  font-size: 16px;
  color: #FFFFFF;
}

/* მოდალი */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 40px;
  max-width: 550px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.h2-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.modal h2 {
  font-size: 22px;
}

.addsite-modal-button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  background-color: rgba(222, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addsite-modal-button:hover{
  background-color: rgba(222, 0, 0, 0.2);
}

.modal label {
  font-size: 18px;
}

.input-check-group {
  display: flex;
  gap: 10px;
}

.input-check-group input {
  flex: 1;
  padding: 20px;
  background: #F5F5F5;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.check-btn {
  background-color: #DFF2FF;
  border: 1px solid #23A2E4;
  color: #23A2E4;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.warning {
  background: rgba(213, 156, 0, 0.1);
  color: black;
  font-size: 12px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0 20px;
}

.pay-choice {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.site-type {
  border: 2px solid #E3E7F0;
  border-radius: 10px;
  cursor: pointer;
  background-color: #FFFFFF;
}

.site-type.selected {
  border: 2px solid #5069A7;
}

.title1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 45px;
  gap: 5px;
}

.title2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 5px;
}

.badge {
  background: #E6F1FF;
  color: rgba(0, 120, 183, 1);
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 10px;
  margin-left: 4px;
  border: 0.5px solid rgba(0, 120, 183, 0.7);
}

.p-type{
  font-size: 16px;
  color: #000000;
}

.div-money{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 10px 25px;
  background-color: #F1F5FF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.p-v{
  color: #000000;
  font-size: 16px;
}

.price{
  color: #000000;
  font-size: 16px;
}

.discount{
  color: #000000;
  font-size: 12px;
}

.confirm-btn {
  background: #0078B7;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 20px 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


select {
  width: 100%;
  max-width: 100%;
  padding: 15px;
  background: #F5F5F5;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* შიდა საიტი*/

.site-section{
  background-color: #F1F5FF;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.site-layout{
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-bar h2 {
  font-size: 22px;
  color: #000000;
}

.arrow-a{
  background: #f4f7ff;
  border: none;
  border-radius: 8px;
  padding: 10px 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px rgba(0,0,0,0.05);
  transition: background 0.3s;
}

.arrow-a:hover {
  background: #D0DAF4;
}

.site-h2-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn-outline {
  padding: 10px 18px;
  border: none;
  background-color: #DFF2FF;
  color: #23A2E4;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background-color: #e8f0ff;
}

.table {
  overflow: hidden;
}

.table-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px 10px;
  font-size: 14px;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
}

.site-title{
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.site-Meaning{
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
}

.delete-disable{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.btn-danger {
  padding: 10px 15px;
  background-color: rgba(222, 0, 0, 0.1);
  color: #DE0000;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-danger img {
  width: 16px;
  height: 16px;
}