* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'NotoSansGeorgian';
    src:url('../Font/NotoSansGeorgian-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

button{
  font-family: 'NotoSansGeorgian';
}

header h1{
  font-size: 20px;
  margin-left: 50px;
}

a{
  text-decoration: none;
}

body{
  background-color: #F1F5FF;
  font-family: 'NotoSansGeorgian';
}

section{
  background-color: #F1F5FF;
}

.layout {
  display: grid;
  grid-template-columns: 240px 1fr;
}


.hamburger-button{
  width: 40px;
  height: 40px;
}

/* ჰედერი */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #D3DFFF;
}

.img-logo{
  width: 100px;
  height: 30px;
}

.header-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.right-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #f4f7ff;
  padding: 8px 12px;
  border-radius: 12px;
  gap: 5px;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
  color:  black;
  font-size: 18px;
  max-width: 150px;
}

.search-box input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.icons {
  display: flex;
  gap: 10px;
}

.icon-btn {
  background-color: #f4f7ff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.icon-btn-search{
  background-color: #f4f7ff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon-btn:hover,
.icon-btn-search:hover {
  background-color: #D0DAF4;
}

/* უზერ მოდალი */

.user-modal {
  position: absolute;
  top: 70px; 
  right: 40px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 15px;
  z-index: 100;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-modal.hidden {
  display: none;
}

.user-email {
  font-size: 14px;
  color: #000000;
}

.user-phone {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.modal-a-button{
  display: flex;
  flex-direction: column;
}

.logout-btn {
  border: none;
  border-radius: 10px;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.img-logout{
  width: 24px;
  height: 24px;
}

.p-logout{
  font-size: 14px;
  color: #000000;
}

.modal-account{
  border-radius: 10px;
  background-color: #FFFFFF;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.img-modal-account{
  width: 18px;
  height: 20px;
}

.p-modal-account{
  font-size: 14px;
  color: #000000;
}

.logout-btn:hover,
.modal-account:hover {
  background-color: #F1F5FF;
}

/* საიდბარი */

.sidebar {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 20px 100px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-right: 1px solid #D3DFFF;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  padding: 12px;
  border-radius: 20px;
  gap: 10px;
  transition: all 0.3s ease;
  background-color: #FFFFFF;
}

.menu-item:hover,
.menu-header:hover {
  background-color: #F1F5FF;
}

.icon-wrapper {
  background-color: #D8DFF0;
  padding: 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.icon-wrapper:hover {
  background-color: #D0DAF4;
}

.p-sidebar {
  color: #000000;
  font-size: 16px;
}

.menu-container {
  background-color: #f1f5ff;
  border-radius: 20px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.menu-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dropdown {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 16px;
  background-color: #f1f5ff;
}

.menu-container.open .dropdown {
  max-height: 200px;
  opacity: 1;
  padding-bottom: 12px;
}

.menu-container.open .menu-header {
  background-color: #F1F5FF;
}

.dropdown a {
  text-decoration: none;
  color: #757575;
  font-size: 14px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  display: inline-block;
  width: auto;
}

.dropdown a:hover {
  background-color: #FFFFFF;
}

.bottom-aside{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.line{
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  border-radius: 5px;
}

.menu-toggle {
  background-color: #f4f7ff;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  display:  none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.menu-toggle:hover{
  background-color: #D0DAF4;
}

.hamburger-button{
  width: 16px;
  height: 12px;
}